/* estilo general */
body {
  min-height: 100%;
}

/* hero */
.heroBtn {
  background: rgb(77, 0, 11);
  background: linear-gradient(
    45deg,
    rgba(77, 0, 11, 1) 0%,
    rgba(171, 46, 64, 1) 62%
  );
  border-color: transparent;
}

h4 {
  color: #370067;
}

/* navbar */
header {
  box-shadow: 0px 2px 10px #e6e6e6;
}

/* hero */

.heroDesc {
  animation-duration: 5s;
  animation-name: pop;
  animation-iteration-count: initial;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* explore */
.cityPhoto img:hover {
  transform: scale(1.2, 1.2);
}

/* footer */
footer {
  background: rgb(55, 0, 103);
  background: linear-gradient(
    45deg,
    rgba(55, 0, 103, 1) 0%,
    rgba(171, 46, 64, 1) 62%
  );
}

/* arts & culture */

thead {
  color: #fff;
  background-color: #ab2e40;
}

/* shops & restaurants */

.titleNames {
  color: #ab2e40;
  font-weight: 600;
}
